:root{
    --color1: #034C53;
    --color2: #007074;
    --color3: #F38C79;
    --color4: #FFC1B4;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(recursos/imgs/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: sans-serif;
}
header{
    padding: 5px 0;
    background-color: var(--color2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header img{
    width: 50px;
    border-radius: 50%;

}



#menu-secundario{
    display: none;
}

nav ul li a, nav ul li button, .retornar-menu-principal{
    transition: background .5s;
}
nav ul li a:hover, nav ul li button:hover, .retornar-menu-principal:hover{
    background-color: var(--color3);
    cursor: pointer;
}



#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}
.nav{
    text-align: center;
}
.nav > li {
    float:left;
}


.nav li a {
    background-color:var(--color1);
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:var(--color3);
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}



.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
    z-index: 10;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
.nav li ul:last-child{
    border-radius: 0 0 16px 16px;
    overflow: hidden;

}

/* ---------------------------------------------------------   CONTENIDO */


.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}
section div{
    flex: 1;
    color: var(--color1);
}
section .content-section{
    height: calc(75vh);
    background-color: #ffffff99;
    color: black;
    overflow-y: scroll;
    position: absolute;
    bottom: 0;
    width: 100%;
}
section .content-section > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
section .content-section > div img{
    max-width: calc(30vw);
}
.content-section:only-child{
    flex: 1;
}
section .content-section ul li{
    border-bottom: solid 1px var(--color1);
    padding: 10px 0;
}





.filter{
    display: block;
    width: 100%;
    padding: 20px;
}
.filter > div{
    background-color: var(--color2);
    color: #fff;
    padding: 10px 50px;
    border-radius: 8px;
}
.filter button{
    padding: 5px;
    background-color: var(--color2);
    color: #fff;
    outline: none;
    border:  none;
    border-radius: 4px;
    margin:0 10px;
    transition: background .5s, color 1s
}
.filter button:hover{
    background-color: var(--color3);
    padding: 5px;
    color: #000;
    cursor: pointer;

}






section h2{
    width: 100%;
    text-align: center;
    padding: 24px 0 ;
    font-size: 28px;
}



.content-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.content-section img{
    border-radius: 10px;
    border: solid 3px;
    padding: 5px;
}
.div-post-filter{
    min-height: calc(50vh);
    width: 100%;
    color: #000;
}
.div-post-filter ul, .div-post-filter> div{
    flex: .5;

}


table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
}
tr{ 
    transition: background .5s;

}
tr:hover{
    background-color: var(--color3);
    cursor: pointer;
    color: var(--color1);
}
th {
    background-color: #f2f2f2;
}

.form{
    background: var(--color2);
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    color: white;
    margin: 20px auto;
    max-width: 500px;
}

.form-group{
    font-size: 18px;
    color: white;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.form-group label{
    /* display: block; */
}
.form button{
    padding: 10px;
    background: var(--color4);
    color: black;
    border-radius: 8px;
    border: none;
    margin-top: 20px;

}

















