:root{
    --color1: #bc9133;
    --color2: #bc9133;
    --color3: #a37209;
    --color4: #fff;
    --color5: #f6d65b;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(recursos/imgs/descarga\ \(4\).jpeg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: sans-serif;
}




header{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    background-color: var(--color2);
    padding: 10px 15px;
    color: white;

}

header h1{
    font-family: 'Rammetto One', cursive;
    font-size: 30px;
    margin: 0;
}
    

#menu-secundario{
    display: none;
}

nav ul li a, nav ul li button, .retornar-menu-principal{
    transition: background .5s;
}
nav ul li a:hover, nav ul li button:hover, .retornar-menu-principal:hover{
    background-color: var(--color3);
    cursor: pointer;
}



#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}
.nav{
    text-align: center;
}
.nav > li {
    float:left;
}


.nav li a {
    background-color:var(--color1);
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:var(--color3);
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}



.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
    z-index: 10;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
.nav li ul:last-child{
    border-radius: 0 0 16px 16px;
    overflow: hidden;

}

/* ---------------------------------------------------------   CONTENIDO */


.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}
section div{
    flex: 1;
    color: var(--color2);
}
section .content-section{
    height: calc(75vh);
    background-color: #ffffff99;
    color: black;
    overflow-y: scroll;
    position: absolute;
    bottom: 0;
    width: 100%;
}
section .content-section > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
section .content-section > div img{
    max-width: calc(30vw);
}
.content-section:only-child{
    flex: 1;
}
section .content-section ul li{
    border-bottom: solid 1px var(--color1);
    padding: 10px 0;
}





.filter{
    display: block;
    width: 100%;
    background-color: var(--color2);
    padding: 5x 10px;
    color: white;
}
.filter > div{
    color: #fff;
    padding: 10px 50px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.filter label {
    color: #fff;
}
.filter button{
    padding: 10px;
    background-color: var(--color4);
    color: #000;
    outline: none;
    border:  none;
    border-radius: 4px;
    margin:0 10px;
    transition: background .5s, color 1s
}
.filter button:hover{
    background-color: var(--color3);
    cursor: pointer;

}
.filter input{
    background:#00000011;
    border:none;
    outline: none;
    border-bottom: solid 1px;
    border-radius: 5px;
    color: #fff;
}
.filter-ID{
    max-width: 75px;
}





section h2{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color4);
    width: 100%;
    text-align:justify;
    padding: 24px 0 ;
    font-size: 30px;
    text-shadow:3px 3px 6px var(--color5);

}


#inicio{
    background: rgba(0, 0, 0, .5);
    height: 90vh;
}


.inicio{
    text-align: center;
    font-family: 'Rammetto One', cursive;
    padding-top: 60px;
    font-size: 55px;
    margin: 0;
    text-shadow: 3px 3px 6px var(--color5);
    
}

.bajar-texto{
    text-align: center;
    font-family: 'Rammetto One', cursive;
    padding-top: 200px;
    font-size: 40px;
    margin: 0;
}



.content-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.content-section img{
    border-radius: 10px;
    border: solid 3px;
    padding: 5px;
}
.div-post-filter{
    min-height: calc(50vh);
    width: 100%;
    color: #000;
}
.div-post-filter ul, .div-post-filter> div{
    flex: .5;

}


/* ---------------------------tabla fin */
table {
    width: 100%;
    border-collapse: collapse;
    color: #000;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
}
tr{ 
    transition: background .5s;

}
tr:hover{
    background-color: var(--color2);
    cursor: pointer;
    
}
th {
    background-color: #f2f2f2;
}
/* ---------------------------tabla fin */
.form{
    background: var(--color2);
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    color: white;
    margin: 20px auto;
    max-width: 500px;
}

.form-group{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.form-group label{
    font-size: 16px;
    color: white;
    /* display: block; */
}
.form-group input[type="number"],
.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="email"],
.form-group textarea,
.form-group select {
    width: 50%;
    text-align: right;
    background-color: var(--color4);
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.form button{
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    background: var(--color5);
    color: black;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    transition: background .5s;
}
.form button:hover {
    background: var(--color1);
    cursor: pointer;
    color: white;
}

/* Aqui empieza el buscador de la pagina de inicio */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    flex-direction: row;
  }
  
  .buscador {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background-color: rgba(249, 238, 238, 0.599); /* Blanco con 50% de opacidad */
    padding: 11px;
    border: 2px solid var(--color2);
    width: fit-content;
    margin: 50px auto;
    border-radius: 6px;
  }
  
  .campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: rgba(249, 238, 238, 0.599);
    min-width: 100px;
    border-right: 1px solid var(--color5);
  }
  
  .campo:last-child {
    border-right: none;
  }
  
  label {
    font-size: 13px;
    margin-bottom: 5px;
    color: var(--color3);
    font-weight: bold;
  }
  
  input[type="date"],
  input[type="number"] {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .contador {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .contador button {
    width: 25px;
    height: 25px;
    background-color: var(--color2);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .buscar-btn {
    background-color: var(--color1);
    color: var(--color4);
    font-weight: bold;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
  }
/* Aqui termina el buscador de la pagina de inicio */
.select-estado-habitacion{
    display: none;
}
















